/*Main CSS for the newest prototype*/
body {

	background-color: white;
}

.main {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	overflow: hidden;
}

.math1{
	float: left;
	width: 50%;
}

.code1{
	float: left;
}

#summation{
	font-size: 90px;
	margin-top: 80px;
	margin-left: 80px;
}

#summation:hover{
	cursor: hand;	
}

.limit{
	position: absolute;
	margin-left: 88;
	margin-top: 69;
}

.index{
	position: absolute;
	margin-left: 88;
	margin-top: -80;
}

#typical-element{
	position: absolute;
	margin-left: 145;
	margin-top: -132;
}

.typical-element-index{
	position: absolute;
	margin-left: 165;
	margin-top: -115;
}

.forloop{	
	float: left;
	margin-top: 122;
}

.forLoopIndex{
	float: left;
	margin-top: 125;
}

#draw-shapes{
	overflow: auto;
	float: right;
	margin-right: 50px;
}

#sigma-definition{
	border-radius: 25px;
	box-shadow: 10px 10px 10px 10px #888888;
	z-index: 5000;
	position: absolute;
	width: 30%;
	background-color: blue;
}

#sigma-title {
	width: 5%;
	float: left;
}

#sigma-definition:hover{
	cursor:move;
}

#sigma-exit{
	float: right;

}

#sigma-content{
	clear: both;
}

#sigma-exit:hover{
	cursor: hand;
}

#circle-equation{
	margin-left: 20px;
	margin-bottom: 0;
}

#last-curly-bracket{
	margin-top: 0;
}

#forSymbol{
	cursor: hand;
}

#forloop-definition{
	border-radius: 25px;
	box-shadow: 10px 10px 10px 10px #888888;
	z-index: 5000;
	position: absolute;
	width: 30%;
	background-color: blue;
}

#forloop-title {
	width: 5%;
	float: left;
}

#forloop-definition:hover{
	cursor:move;
}

#forloop-exit{
	float: right;

}

#forloop-content{
	clear: both;
}

#forloop-exit:hover{
	cursor: hand;
}



